.App {
  background-color: #EDF2F4;
  text-align: center;
}

/* .App-logo { */
/*   background-color: #EDF2F4; */
/*   margin-top: 3em; */
/*   pointer-events: none; */
/* } */
/**/
/* .App-icon { */
/*   margin-top: 5em; */
/* } */

/*@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}*/

/* .App-header { */
/*   margin: 1em; */
/*   background-color: #EDF2F4; */
/*   display: flex; */
/*   flex-direction: column; */
/*   align-items: center; */
/*   justify-content: center; */
/*   font-size: calc(10px + 2vmin); */
/*   color: black; */
/* } */

.App-link {
  background-color: #EDF2F4;
  color: blue;
}

.App-login-button {
  background-color: #EDF2F4;
  margin: 1em;
  padding: 1em;
  border-radius: 1em;
  background-color: red;
  color: #EDF2F4;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.border {
  border: 1px solid #ddd;
  /* Adjust color and width as needed */
}

.border-b-2 {
  border-bottom: 2px solid #ccc;
  /* Adjust color and width as needed */
}

.text-custom-dark {
  color: #333;
  /* Replace with your custom color */
}

.font-bold {
  font-weight: bold;
}

/* Additional spacing and padding as needed */
.p-4 {
  padding: 1rem;
  /* Adjust as needed */
}

.mt-4 {
  margin-top: 1rem;
  /* Adjust as needed */
}

.mb-2 {
  margin-bottom: 0.5rem;
  /* Adjust as needed */
}

/* You can also add media queries for responsive design */
@media (max-width: 768px) {
  /* Responsive adjustments */
}
