.App {
  background-color: #EDF2F4;
  text-align: center;
}

.App-logo {
  background-color: #EDF2F4;
  margin-top: 3em;
  pointer-events: none;
}

.App-icon {
  margin-top: 5em;
}

/*@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}*/

.App-header {
  margin: 1em;
  background-color: #EDF2F4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  background-color: #EDF2F4;
  color: blue;
}
.App-nav{
  background-color: #EDF2F4;
  margin: 1em;
  padding: 1em;
  border-radius: 1em;
  background-color: red;
  color: #EDF2F4;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
